---
layout: default
title: Accueil
---

{% include carousel.html %}
{% include section_presentation.html %}

{% include section.html
  title="Maison Neuve"
  bg="bg-secondary"
  text-color="text-white"
  underline-color= "rgb(10, 45, 46)"
  text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam autem perspiciatis earum accusamus aliquid id assumenda cupiditate minus fugit non eum optio nisi neque, ea voluptate a impedit dignissimos error?"
  image-link="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/margueryold.png"
  image_on_left=false
%}

{% include section.html
  title="Renovation"
  bg=""
  text-color="text-black"
  underline-color= "rgb(101, 129, 117)"
  text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam autem perspiciatis earum accusamus aliquid id assumenda cupiditate minus fugit non eum optio nisi neque, ea voluptate a impedit dignissimos error?"
  image-link="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/margueryold.png"
  image_on_left=true
%}

{% include section.html
  title="Extension"
  bg="bg-primary"
  text-color="text-white"
  underline-color= "rgb(101, 129, 117)"
  text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam autem perspiciatis earum accusamus aliquid id assumenda cupiditate minus fugit non eum optio nisi neque, ea voluptate a impedit dignissimos error?"
  image-link="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/margueryold.png"
  image_on_left=false
%}
{% include section.html
  title="Prestations à la carte"
  bg=""
  text-color="text-black"
  underline-color= "rgb(101, 129, 117)"
  text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam autem perspiciatis earum accusamus aliquid id assumenda cupiditate minus fugit non eum optio nisi neque, ea voluptate a impedit dignissimos error?"
  image-link="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/margueryold.png"
  image_on_left=true
%}

