---
layout: default
title: Accueil
---

  {% include navbar.html %}
  {% include navbar_mobile.html %}
  <!-- {% include banner.html%} -->
  {% include header.html%}
  <div class="content-wrap">
  {% include whoami.html %}
  {% include cards.html%}
   <!-- {% include featured_work.html %} -->
    <div class="pt-50 pb-100 mb-6"></div>
    {%- include method.html -%}
    {%- include box.html -%}
    <div class="pb-160">
     {%- include value.html -%}
    </div>
    {%- include testimonials.html -%}
   {%- include brands.html -%}
  </div>
  {%- include footer_simple.html -%}

