---
layout: default
title: Accueil
---

{% include carousel.html %}
{% include section_presentation.html %}
{% include services.html %}


{% include section.html
  title="Neuf"
  bg="bg-secondary"
  text-color="text-white"
  underline-color= "rgb(10, 45, 46)"
  text="Découvrez la liberté de créer votre espace de vie depuis le début. Avec nos maisons neuves, bénéficiez d'une conception architecturale moderne, alliant fonctionnalité et esthétique. Vivre dans une maison nouvellement construite, c'est faire l'expérience d'un confort optimisé et d'une efficacité énergétique incomparable."
  image-link="/assets/images/maison_neuve.jpg"
  image_on_left=false
%}

{% include section.html
  title="Rénovation"
  bg=""
  text-color="text-black"
  underline-color= "rgb(101, 129, 117)"
  text="Redonnez vie à votre espace. Nos services de rénovation combinent respect du patrimoine architectural avec les innovations contemporaines. Que ce soit pour moderniser une pièce ou pour revitaliser une propriété entière, nous transformons l'ancien en nouveau sans perdre son charme d'origine."
  image-link="/assets/images/reno2.jpg"
  image_on_left=true
%}

{% include section.html
  title="Extension"
  bg="bg-primary"
  text-color="text-white"
  underline-color= "rgb(101, 129, 117)"
  text="Besoin de plus d'espace ? Nos solutions d'extension sont conçues pour agrandir harmonieusement votre demeure. Que ce soit pour une chambre supplémentaire, une cuisine pour recevoir ou un salon élargi, nous veillons à ce que chaque extension se fonde naturellement dans l'existant tout en répondant à vos besoins évolutifs."
  image-link="/assets/images/extension_bois.jpg"
  image_on_left=false
%}
{% include section.html
  title="Services"
  bg=""
  text-color="text-black"
  underline-color= "rgb(101, 129, 117)"
  text="Chaque projet est unique, et nous le savons. C'est pourquoi nous offrons des services personnalisés pour répondre à vos besoins spécifiques. De la prise de côte à la gestion complète de projet, nous adaptons nos services pour vous offrir une solution sur mesure. Avec notre approche flexible, vous pouvez choisir les services qui vous conviennent le mieux."
  image-link="/assets/images/rdc2.png"
  image_on_left=true
%}

{% include projects.html %}

