 <div class="pt-160 pb-130 mb-6">
      <div class="container">
        <div class="row gh-1 gv-1 justify-content-xl-end">
          <div class="col-lg-5 show-on-scroll" data-show-duration="600">
            <img class="w-100" src="assets/images/cuisine/c_yota4.jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-1 order-lg-1"></div>
          <div class="col-lg-6 col-xl-4 align-self-center order-11 order-lg-2">
            <h2 class="h3 mt-30 mt-lg-0 mt-xl-0 mb-0">Spécialiste en aménagement d'intérieur, je transforme vos cuisines et salles de bain en espaces de vie sur mesure.</h2>
          </div>
          <div class="d-none d-xl-block col-2 order-lg-3"></div>
          <div class="d-none d-lg-block col-lg-2 col-xl-auto order-10 order-lg-4 show-on-scroll" data-show-delay="100"
            data-show-duration="600">
            <img class="mw-100" width="140" src="assets/images/cuisine/C_Omicron 2 (5).jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-lg-3 order-9 order-lg-5 show-on-scroll" data-show-delay="200"
            data-show-duration="600">
            <img class="w-100" src="{{ absolute_url }}assets/images/cuisine/intro(1).jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-1 order-lg-6"></div>
          <div class="col-lg-6 col-xl-5 mt-xl-n60 order-12 order-lg-7">
            <p>Découvrez comment donner vie à votre espace idéal en visitant notre page de services.</p>
            <a href="services.html" class="btn btn-dark btn-with-ball">read more</a>
          </div>
        </div>
      </div>
    </div>
