 <div class="pt-160 pb-130 mb-6">
      <div class="container">
        <div class="row gh-1 gv-1 justify-content-xl-end">
          <div class="col-lg-5 show-on-scroll" data-show-duration="600">
            <img class="w-100 border" src="assets/images/cuisine/yota.jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-1 order-lg-1"></div>
          <div class="col-lg-6 col-xl-4 align-self-center order-11 order-lg-2">
            <h2 class="h3 mt-30 mt-lg-0 mt-xl-0 mb-0">Spécialiste en aménagement d'intérieur
             </h2>
          </div>
          <div class="d-none d-xl-block col-2 order-lg-3"></div>
          <div class="d-none d-lg-block col-lg-2 col-xl-auto order-10 order-lg-4 show-on-scroll" data-show-delay="100"
            data-show-duration="600">
            <img class="mw-100" width="140" src="assets/images/cuisine/C_Omicron.jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-lg-3 order-9 order-lg-5 show-on-scroll" data-show-delay="200"
            data-show-duration="600">
            <img class="w-100" src="assets/images/cuisine/intro.jpg" alt="">
          </div>
          <div class="d-none d-lg-block col-1 order-lg-6"></div>
          <div class="col-lg-6 col-xl-5 mt-xl-n60 order-12 order-lg-7">
            <p>Du design de
            cuisines modernes et fonctionnelles aux salles de bain raffinées, en passant par des salons (living rooms) élégants et
            des dressings sur mesure. <br><br> Mon approche va au-delà des espaces traditionnels pour inclure aussi l'aménagement de meubles
            personnalisés et l'intégration d'électroménager de pointe, assurant que chaque coin de votre maison reflète un mélange
            parfait de confort, de style et de praticité.</p>
            <!-- <a href="services.html" class="btn btn-dark btn-with-ball">read more</a> -->
          </div>
        </div>
      </div>
    </div>
