<div class="py-160">
  <div class="container isotope" data-isotope-mode="fitRows">
    <div class="row justify-content-center mb-100 mb-md-5">
      <div class="col-12 col-lg-10 mt-8">
        <div class="row justify-content-between gh-1">
          <div class="col-md col-lg-6">
            <h2 class="display-4 mt-n30">Featured work</h2>
          </div>
          <div class="d-none d-lg-block col-auto">
            <hr class="mt-30 mx-2 width-70px">
          </div>
          <div class="col-auto">
            <a href="portfolio-col-3-style-5.html" class="btn btn-dark btn-with-ball">all work</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gh-1 gv-5 isotope-grid">
      <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
      <div class="col-md-5 col-lg-4 mt-md-160 isotope-item">
        <a class="card card-portfolio card-default card-hover-frame show-on-scroll" href="portfolio-single-style-4.html"
          data-show-delay=80 data-show-duration=600 data-show-distance=20>
          <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="voir">
            <img src="{{ absolute_url }}/assets/images/portfolio/funny-dog-1200-1330.jpg" alt="">
          </span>
          <span class="card-body">
            <span class="card-title h4">Funny Dog</span>
            <span class="card-category subtitle">photography</span>
          </span>
        </a>
      </div>
      <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
      <div class="col-md-7 col-lg-6 ps-lg-0 isotope-item">
        <a class="card card-portfolio card-default card-hover-frame show-on-scroll" href="portfolio-single-style-5.html"
          data-show-delay=160 data-show-duration=600 data-show-distance=20>
          <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="voir">
            <img src="{{ absolute_url }}/assets/images/portfolio/creative-branding-1200-865.jpg" alt="">
          </span>
          <span class="card-body">
            <span class="card-title h4">Creative Branding</span>
            <span class="card-category subtitle">branding</span>
          </span>
        </a>
      </div>
      <div class="col-md-7 col-lg-6 ps-lg-0 ms-lg-30 me-lg-n30 isotope-item">
        <a class="card card-portfolio card-default card-hover-frame show-on-scroll" href="portfolio-single-style-6.html"
          data-show-delay=240 data-show-duration=600 data-show-distance=20>
          <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="voir">
            <img src="{{ absolute_url }}/assets/images/portfolio/mobile-app-1200-865.jpg" alt="">
          </span>
          <span class="card-body">
            <span class="card-title h4">Mobile App</span>
            <span class="card-category subtitle">design</span>
          </span>
        </a>
      </div>
      <div class="col-lg-1 d-none d-lg-block isotope-item"></div>
      <div class="col-md-5 col-lg-4 mt-md-n160 isotope-item">
        <a class="card card-portfolio card-default card-hover-frame show-on-scroll" href="portfolio-single-style-1.html"
          data-show-delay=320 data-show-duration=600 data-show-distance=20>
          <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="voir">
            <img src="{{ absolute_url }}/assets/images/portfolio/watch-design-1200-1330.jpg" alt="">
          </span>
          <span class="card-body">
            <span class="card-title h4">Watch Design</span>
            <span class="card-category subtitle">design</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
