<head>
  {% seo %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- START: Styles -->
  <!-- Swiper -->
  <link rel="stylesheet" href="{{ '/assets/vendor/swiper/dist/css/swiper.min.css' | absolute_url }}" />
  <!-- Fancybox -->
  <link rel="stylesheet" href="{{ '/assets/vendor/fancybox/dist/jquery.fancybox.min.css' | absolute_url }}" />
  <!-- Themebau -->
  <link rel="stylesheet" href="{{ '/assets/css/themebau.min.css' | absolute_url }}">
  <!-- jQuery -->
  <script src="{{ '/assets/vendor/jquery/dist/jquery.min.js' | absolute_url }}"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BT7CKKDSFT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BT7CKKDSFT');
  </script>

</head>
