<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Hexagone | Cuisiniste & agencement à domicile</title>
<meta name="description" content="Themebau">
<meta name="author" content="RunWebRun">
<!-- <link rel="icon" type="image/png" href="assets/images/favicon.png"> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<!-- START: Styles -->
<!-- Swiper -->
<link rel="stylesheet" href="{{ absolute_url }}/assets/vendor/swiper/dist/css/swiper.min.css" />
<!-- Fancybox -->
<link rel="stylesheet" href="{{ absolute_url }}/assets/vendor/fancybox/dist/jquery.fancybox.min.css" />
<!-- Themebau -->
<link rel="stylesheet" href="{{ '/assets/css/themebau.min.css' | absolute_url }}">
<!-- Custom Styles -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' |absolute_url }}"> -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/custom.css' |absolute_url }}"> -->
<!-- END: Styles -->
<!-- jQuery -->
<script src="{{ absolute_url }}/assets/vendor/jquery/dist/jquery.min.js"></script>

