<div class="content-wrap">
  <div class="py-160 min-vh-100 d-flex align-items-center position-relative lines-style-3">
    <div class="line text-white"></div>
    <div class="background">
      <div class="background-image jarallax" data-jarallax data-speed="0.8">
        <img src="assets/images/cuisine/PORTRAIT 17_RIGA(5).jpg" class="jarallax-img" alt="">
      </div>
      <div class="background-color" style="background-color: rgb(14, 14, 14, .2);"></div>
    </div>
    <div class="container ">
      <h1 class="display-5 text-white d-lg-none show-on-scroll" data-show-duration="1000">Cuisiniste &<br> Aménagement <br>à Domicile</h1>
      <h1 class="display-4 d-none d-lg-block text-white show-on-scroll" data-show-duration="1000">Cuisiniste &<br> Aménagement <br>à Domicile</h1>

      <div class="row align-items-center gh-1 d-inline-flex">
        <div class="col-auto show-on-scroll" data-show-delay="200" data-show-duration="500" data-show-distance="20" data-show-origin="left">

      </div>
    </div>
  </div>
</div>
