<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js" defer></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2Vic3dhbiIsImEiOiJjbG5kZXJuOGswNDBhMm1ybGpsZHp1dDFkIn0.BL8TVlNOyvVHq82YTVSB9w';


    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11?optimize=true',
      center: [-2.7173850381625893, 48.49558288844466 ],
      zoom: 13
    });

    var popup = new mapboxgl.Popup({ offset: 25 }).setText(
      "5 Place de l'Église, 22360 Langueux"
    );

    var marker = new mapboxgl.Marker()
      .setLngLat([-2.7173850381625893, 48.49558288844466])
      .setPopup(popup)
      .addTo(map);

</script>
