

<div class="site-section" id="projects-section">
      <div class="container">
        <div class="row">
          <div class="col-12 service-container mb-5">
            <h2 class="text-black service-title fst-italic">Nos Projets</h2>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonh' | absolute_url }}" class="d-block figure image-project " data-fancybox="gallery">
              <img src="{{ '/assets/images/maison_neuve.webp' | absolute_url }}" alt="maison neuve yffiniac" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisonh' | absolute_url }}">Maison H</a></h3>
            <span class="text-muted">Pommeret (22)</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationve' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/extension.webp' | absolute_url }}" alt="extension maison saint-brieuc" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationve' | absolute_url }}">Rénovation VE</a></h3>
            <span class="text-muted">Plorec-sur-Arguenon (22)</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/extensionm' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/extension_cuisine.webp' | absolute_url }}" alt="extension cuisine bretagne" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/extensionm' | absolute_url }}">Extension M</a></h3>
            <span class="text-muted">Trémuson (22)</span>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationd' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/reno3.webp' | absolute_url }}" alt="renovation maison plérin" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationd' | absolute_url }}">Rénovation D</a></h3>
            <span class="text-muted">Yffiniac (22)</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonal' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/elevation.webp' | absolute_url }}" alt="maitre d'oeuvres cotes d'armor" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisonal' | absolute_url }}">Maison AL</a></h3>
            <span class="text-muted">Saint-Brieuc (22)</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisond' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/maison_neuve2.webp' | absolute_url }}" alt="maison neuve lamballe" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisond' | absolute_url }}">Maison D</a></h3>
            <span class="text-muted">Quessoy (22)</span>
          </div>
        </div>
      </div>
    </div>


