<!-- START: Scripts -->
<!-- Object Fit Polyfill -->
<script src="{{ absolute_url }}/assets/vendor/object-fit-images/dist/ofi.min.js"></script>
<!-- Bootstrap -->
<script src="{{ absolute_url }}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ImagesLoaded -->
<script src="{{ absolute_url }}/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- Swiper -->
<script src="{{ absolute_url }}/assets/vendor/swiper/dist/js/swiper.min.js"></script>
<!-- Animejs -->
<script src="{{ absolute_url }}/assets/vendor/animejs/lib/anime.min.js"></script>
<!-- Rellax -->
<script src="{{ absolute_url }}/assets/vendor/rellax/rellax.min.js"></script>
<!-- Countdown -->
<script src="{{ absolute_url }}/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<!-- Moment.js -->
<script src="{{ absolute_url }}/assets/vendor/moment/min/moment.min.js"></script>
<script src="{{ absolute_url }}/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<!-- Isotope -->
<script src="{{ absolute_url }}/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="{{ absolute_url }}/assets/vendor/isotope-packery/packery-mode.pkgd.min.js"></script>
<!-- Jarallax -->
<script src="{{ absolute_url }}/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="{{ absolute_url }}/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>
<!-- Fancybox -->
<script src="{{ absolute_url }}/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<!-- Themebau -->
<!-- <script src="{{ absolute_url }}/assets/js/themebau.min.js"></script> -->
<script src="{{ '/assets/js/themebau.min.js'| absolute_url }}"></script>
<!-- {{ '/assets/css/themebau.min.css' | absolute_url }} -->
<!-- END: Scripts -->
<script>
  // This script checks the current URL and adds the 'active' class to the corresponding navbar item
    document.addEventListener("DOMContentLoaded", function () {
      // Get current page URL
      let currentUrl = window.location.pathname;
      if (currentUrl === "/") {
        currentUrl = "/"; // If at the root, set to the base URL
      }

      // Select all navbar links
      const navLinks = document.querySelectorAll(".nav-link");
      const collapses = document.querySelectorAll(".navbar-collapse");

      // Loop through each link
      navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentUrl) {
          // Add 'active' class to the link that matches the current URL
          link.classList.add("active");
        } else {
          // Remove 'active' class from other links
          link.classList.remove("active");
        }
      });

      collapses.forEach((link) => {
        if (link.getAttribute("href") === currentUrl) {
          // Add 'active' class to the link that matches the current URL
          link.classList.add("active");
        } else {
          // Remove 'active' class from other links
          link.classList.remove("active");
        }
      });


    });





    var mentionsElement = document.getElementById("mentions");

    function updateMentions() {
      var currentText = mentionsElement.textContent || mentionsElement.innerText;
      if (currentText.includes("SARL ATELIER 2D")) {
        mentionsElement.innerHTML =
          "© " + new Date().getFullYear() + " mentions légales";
      } else {
        mentionsElement.innerHTML =
          " SARL Hexagone Création - Webmaster et Hébergement - Etienne Design";
      }
    }

    mentionsElement.addEventListener("click", updateMentions);

</script>
