
<div class="container-fluid site-section {{ include.bg }}">
  <div class="container py-4">

    <div class="row {{ include.text-color }} ">
      <div class="col-12 col-md-6 px-5 {% if include.image_on_left %}order-md-2{% endif %}">
        <div class="title-container">
          <h2 class="pb-2 fst-italic">
            {{ include.title }}
          </h2>
          <div class="hr1" style="background-color: {{ include.underline-color  }}"></div>
        </div>
        <p class="ps-2 lh-lg {{ include.text-color }} ">{{ include.text }}</p>
        <a href="{{ include.link }}" class="d-inline d-flex justify-content-end {{ include.text-color }} fst-italic text-decoration-none">Voir plus</a>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center {% if include.image_on_left %}order-md-1{% endif %}">
        <div class="image-container" style="box-shadow: 10px 10px 2px 1px {{ include.underline-color }}">
          <img src="{{ include.image-link | absolute_url }}" alt="" class="rounded">
        </div>
      </div>
    </div>
  </div>
</div>

