<div class="container site-section">
  <div class="row">
    <div class="col-12 col-md-6 px-3">
      <div class="title-container ps-2">
        <h2 class="pb-2 fst-italic">Qui Sommes-nous</h2>
        <div class="hr1" style="background-color: rgb(101, 129, 117)"></div>
      </div>
      <p class="px-3 text-black lh-lg">
        Basés à <span class="fw-bolder">Langueux</span>, nous vous apportons notre expertise dans la
        conception, la rénovation et l'agrandissement d'habitats individuels et
        collectifs, intervenant principalement dans les Côtes d'Armor sur un
        rayon de 30 kms.
      </p>
    </div>
    <div class="col-12 col-md-6 px-3">
      <div class="title-container ps-2">
        <h2 class="pb-2 fst-italic">Notre Philosophie</h2>
        <div class="hr1" style="background-color: rgb(101, 129, 117)"></div>
      </div>
      <p class="px-3 text-black lh-lg">
        <span class="fw-bolder text-uppercase">L’ATELIER</span> évoque la créativité, l'adaptabilité, l'approche artisanale et
        la garantie d'un travail sur-mesure.<br> <span class="fw-bolder text-uppercase">2D </span> rappelle l'importance de la
        première esquisse, réalisée à vos côtés, pour donner vie à votre vision.
      </p>
    </div>
  </div>
</div>
