<div class="container">

  <div class="row p-4"></div>

  <div class="row">
    <div class="col-12 col-md-6 px-5">
      <h2 class="pb-2 ">
        <div class="hr"></div> Qui Sommes-nous
      </h2>
      <p class="ps-2 parg">Basés à Langueux, nous sommes des experts spécialisés dans la conception, la rénovation et l'agrandissement d'habitats individuels et collectifs, intervenant principalement dans les Côtes d'Armor sur un rayon de 30 km. </p>
    </div>
    <div class="col-12 col-md-6 px-5">
      <h2 class="pb-2 ">
        <div class="hr2"></div> Notre Philosophie
      </h2>
      <p class="ps-2 parg">L’ATELIER évoque la créativité, l'adaptabilité, l'approche artisanale et la garantie d'un travail sur-mesure.

2D rappelle l'importance de la première esquisse, réalisée à vos côtés, pour donner vie à votre vision.</p>
   </div>
  </div>
</div>
