

<div class="site-section">
  <div class="container">
   <div class="row">
      <div class="col-12 service-container mb-5">
        <h2 class="text-black service-title fst-italic">Nos Services</h2>
      </div>
    </div>

    <div class="row">
      <!-- Service 1 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media">
          <img src="{{ '/assets/images/drawing-tools.png' | absolute_url }}" alt="Drawing Tools" class="icon pe-1">
          <div class="media-body">
            <h3 class="mt-0 ms-3 fs-5 ">Services à la carte</h3>
            <p class="ms-3 mt-1">
              Notre flexibilité vous permet de sélectionner des services à la carte. Engagez-nous pour des tâches spécifiques ou pour piloter la totalité du chantier.</p>
          </div>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media ">
          <div class="display-5 icon-text text-center fw-bolder ">35</div>
          <div class="media-body">
            <h3 class="mt-0 ms-3 fs-5 ">Années d'expériences cumulées</h3>
              <p class="ms-3 mt-1">
                Chaque phase de votre projet bénéficie de notre expertise, nourrie par 35 années d'expérience cumulée, assurant qualité et sérénité.</p>
          </div>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media ">
          <img src="{{ '/assets/images/brickwall.png' | absolute_url }}" alt="Brick Wall" class="icon">
          <div class="media-body">
            <h3 class="mt-0 ms-3 fs-5">Un réseau d'artisans</h3>
              <p class="ms-3 mt-1">
                Nous collaborons étroitement avec un réseau d'artisans locaux, garantissant la qualité et le respect des délais.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
