<style>
.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }


/* .site-section-heading {
  font-size: 30px;
  color: #dee2e6;
  position: relative; }
  .site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ff5733; }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ff5733; } */

    .media {
  display: flex;
  align-items: flex-start;
    }

  .icon {
    height: 80px;
    width: 80px;
  }


/* div {
  border: 1px red solid;
} */

</style>

<div class="site-section" id="services-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title">Services</span>
            <h2 class="font-weight-bold text-black">Nos Services</h2>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="media custom-media">
              <div class="mr-3 icon"></div>
              <img src="{{ absolute.url}}/assets/images/drawing-tools.png" alt="" class="icon">
              <div class="media-body">
                <h5 class="mt-0">Services à la carte</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mb-5">
            <div class="media custom-media">
              <div class="mr-3 "></div>
              <div class="display-5 icon">40</div>
              <div class="media-body">
                <h5 class="mt-0">Années d'expériences cumulées</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="media custom-media">
              <div class="mr-3 icon"></div>
              <img src="{{ absolute.url}}/assets/images/brickwall.png" alt="" class="icon">
              <div class="media-body">
                <h5 class="mt-0">Un réseau d'artisans</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
