<style>
.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-title {
  position: relative;
  display: inline-block;
}

.service-title::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust according to your design */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 50px);
  height: 0.2rem;
  background-color: rgb(101, 129, 117);
}

.media {
  display: flex;
  align-items: flex-start;
}

.icon {
  height: 80px;
  width: 80px;
}

/* Debugging: Remove after development */
/* div {
  border: 1px red solid;
} */


</style>

<div class="site-section">
  <div class="container">
   <div class="row">
      <div class="col-12 service-container mb-5">
        <h2 class="text-black service-title fst-italic">Nos Services</h2>
      </div>
    </div>

    <div class="row">
      <!-- Service 1 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media ">
          <img src="{{ '/assets/images/drawing-tools.png' | absolute_url }}" alt="Drawing Tools" class="icon pe-1">
          <div class="media-body">
            <h5 class="mt-0 ms-3">Services à la carte</h5>
            <p class="ms-3 mt-1">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </p>
          </div>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media ">
          <div class="display-5 icon text-center fw-bolder ">40</div>
          <div class="media-body">
            <h5 class="mt-0 ms-3">Années d'expériences cumulées</h5>
              <p class="ms-3 mt-1">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
              </p>
          </div>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="media custom-media ">
          <img src="{{ '/assets/images/brickwall.png' | absolute_url }}" alt="Brick Wall" class="icon">
          <div class="media-body">
            <h5 class="mt-0 ms-3">Un réseau d'artisans</h5>
              <p class="ms-3 mt-1">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
