<div class="container-fluid gx-0">
  <div class="container-fluid bg-light my-0 gx-0" style="height:0.3rem"></div>
  <div class="container-fluid bg-secondary my-0 gx-0" style="height:0.4rem"></div>
  <div class="container-fluid bg-light my-0 gx-0" style="height:0.3rem"></div>
  <div class="container-fluid bg-secondary my-0 gx-0" style="height:0.4rem"></div>
  <div class="container-fluid bg-light my-0 gx-0" style="height:0.3rem"></div>
  <div class="container-fluid bg-secondary my-0 gx-0" style="height:0.4rem"></div>
  <div class="container-fluid bg-light my-0 gx-0" style="height:0.3rem"></div>
</div>
