<div class="pt-130 pb-160 bg-dark shape-parent overflow-hidden lines-style-1">
      <div class="line text-white"></div>
      <div class="line text-white"></div>
      <div class="shape align-items-end justify-content-center">
        <svg data-rellax-speed="1" class="mb-n160" width="641" height="641" viewBox="0 0 641 641" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="320.5" cy="320.5" r="320.5" fill="#202020" />
        </svg>
      </div>
      <div class="swiper swiper-reviews text-white text-center" data-swiper-slides="1" data-swiper-autoHeight="true"
        data-swiper-speed="600" data-swiper-grabCursor="true">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">“ "Nous avons fait appel à Emmanuel pour la conception de notre cuisine et nous sommes absolument ravis du résultat
                  ! Dès la première rencontre, il a su écouter nos besoins et nous proposer un design qui correspondait parfaitement à
                  notre style de vie. L'installation s'est déroulée sans encombre et le résultat est à couper le souffle. Notre cuisine
                  est non seulement belle, mais aussi extrêmement fonctionnelle. Nous recommandons vivement ses services à tous ceux qui
                  cherchent un professionnel compétent et à l'écoute !"”</p>
                </div>
                <div class="review-author">Marie et Julien, Plérin</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">“ En tant que passionné de cuisine, je rêvais d'un espace sur mesure qui pourrait accueillir tous mes ustensiles et me
                  permettre de cuisiner dans les meilleures conditions. Hexagone Création a transformé ce rêve en réalité ! Son sens du
                  détail et sa créativité ont fait toute la différence. Il a su optimiser l'espace de manière incroyable tout en
                  respectant mes demandes spécifiques. Chaque jour, je prends plaisir à cuisiner dans ma cuisine personnalisée. Un grand
                  merci pour ce travail exceptionnel”</p>
                </div>
                <div class="review-author">Françoise, Binic</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">Après plusieurs déceptions avec d'autres entreprises, nous avons finalement trouvé en Emmanuel le partenaire
                  idéal pour la rénovation de notre cuisine. Son approche personnalisée et son professionnalisme nous ont immédiatement
                  séduits. Il a pris le temps de comprendre notre vision et a proposé des solutions innovantes pour répondre à nos
                  attentes. Le résultat est époustouflant : une cuisine moderne, élégante et parfaitement intégrée à notre intérieur. Nous
                  sommes extrêmement satisfaits et recommandons Emmanuel sans hésiter !</p>
                </div>
                <div class="review-author">Gilles et Nathalie, Lamballe</div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
