<div class="pt-130 pb-160 bg-dark shape-parent overflow-hidden lines-style-1">
      <div class="line text-white"></div>
      <div class="line text-white"></div>
      <div class="shape align-items-end justify-content-center">
        <svg data-rellax-speed="1" class="mb-n160" width="641" height="641" viewBox="0 0 641 641" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="320.5" cy="320.5" r="320.5" fill="#202020" />
        </svg>
      </div>
      <div class="swiper swiper-reviews text-white text-center" data-swiper-slides="1" data-swiper-autoHeight="true"
        data-swiper-speed="600" data-swiper-grabCursor="true">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">“ There from stars gathering gathered, upon tree brought life fruitful shall that
                    together without there form You make, morning he from unto. ”</p>
                </div>
                <div class="review-author">Brian Newton, Unvab Inc.</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">“ Called saw fly bring beginning very, may so sixth fowl created replenish fill
                    greater replenish was and earth green bearing. ”</p>
                </div>
                <div class="review-author">June Oliver, Unvab Inc.</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review container-fluid">
                <div class="review-icon">
                  <svg width='38' height='24' viewBox='0 0 38 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M0 24L10.1466 0H18.801L13.4293 24H0ZM19.199 24L29.3455 0H38L32.5288 24H19.199Z'
                      fill='currentColor'></path>
                  </svg>
                </div>
                <div class="review-text">
                  <p class="mb-0">“ Replenish firmament, god days over. Creeping spirit him place for moved second. ”
                  </p>
                </div>
                <div class="review-author">James Hamilton, Unvab Inc.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
