<div class="py-160">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center show-on-scroll" data-show-delay="100" data-show-duration="800">
        <p class="subtitle mt-n10">Qui Suis-Je</p>
        <h1 class="h3 mb-0 red">Emmanuel Hemmoco </h1>
      </div>
    </div>
    <div class="row justify-content-center gh-5 mt-100">
      <div class="col-lg-5 show-on-scroll" data-show-delay="200" data-show-duration="800">
        <hr class="mt-0">
        <p class="lead"></p>
      </div>
      <div class="col-lg-5 show-on-scroll" data-show-delay="300" data-show-duration="800">
        <p>Depuis 15 ans, j'accompagme mes clients dans la réorganisation de leurs espaces Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quam natus, consectetur nemo voluptate vel doloribus sapiente quia! Saepe qui cum, ratione
        exercitationem tempora voluptatibus sint velit labore, tempore assumenda repudiandae?</p>
        <a href="about-us.html" class="btn btn-dark btn-with-ball">A propos de moi</a>
      </div>
    </div>
  </div>
</div>
