<style>
.profil {
	filter: grayscale(0.3);
	-webkit-filter: grayscale(0.3);
	-moz-filter: grayscale(0.3);
	-o-filter: grayscale(0.3);
	-ms-filter: grayscale(0.3);
}
</style>

<div class="py-160">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center show-on-scroll" data-show-delay="100" data-show-duration="800">
        <p class="subtitle mt-n10">Qui Suis-Je</p>
        <h1 class="h3 mb-0 red">Emmanuel Le Helloco </h1>
      </div>
    </div>
    <div class="row justify-content-center align-items-center gh-5 mt-100">
      <div class="col-lg-5 show-on-scroll" data-show-delay="200" data-show-duration="800">
        <img class="mw-100 justify-content-center profil" width="340" src="assets/images/emmanuel_le_helloco.webp" alt="emmanuel le helloco cuisiniste et aménagement intérieur">
        <p class="lead"></p>
        <hr class="mt-0">
      </div>
      <div class="col-lg-5 show-on-scroll" data-show-delay="300" data-show-duration="800">
        <p>Avec plus de 15 ans d'expérience dans la conception et l'installation de cuisines sur mesure, je me dédie à la création
        d'espaces qui reflètent votre personnalité et s'adaptent à votre mode de vie. <br><br>   Mon approche est simple : écouter
        attentivement vos besoins, comprendre votre vision et la traduire en une cuisine pratique, élégante et accueillante.<br><br> Je
        m'engage à utiliser des matériaux de qualité et les dernières innovations pour garantir non seulement un design
        magnifique, mais aussi une durabilité et une fonctionnalité exceptionnelles. <br><br> Mon objectif ? Faire de votre cuisine le cœur de votre foyer, un lieu où se mêlent plaisir de cuisiner et joie de
        partager</p>
      </div>
    </div>
  </div>
</div>
