---
---


// Importing Bootstrap
@import "custom/variables";
@import "bootstrap/bootstrap";



@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url({{ '/assets/fonts/SourceSansPro-Regular.ttf' | absolute_url }} ) format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-repeat: repeat;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("{{ '/assets/images/depoli4.png' | absolute_url }}");
  background-position: -100px -150px;
  font-family: 'SourceSansPro-Regular', sans-serif;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  pointer-events: none;
}


.carousel-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3));
}

.red {
  border: 1px red solid;
}

.blue {
  border: 1px blue solid;
}

.yellow {
  border: 1px yellow solid;
}

.green {
  border: 1px green solid;
}
