<!-- page.html -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
<head>
    {% include head.html %}
</head>
<body>
  {% include analytics2.html %}
  {% include navbar.html %}


  <div class="container my-5">
    <div class="row flex-column-reverse flex-lg-row">
      <div class="col-lg-6 p-3 p-lg-3">
        <img class="img-fluid shadow-lg rounded mb-3" alt="{{page.picture }}" src="{{ absolute_url }}/assets/images/{{ page.picture }}" >
        {% if page.picture3 %}
          <img class="img-fluid shadow-lg rounded mb-3" alt="{{page.picture3 }}" src="{{ absolute_url }}/assets/images/{{ page.picture3 }}" >
        {% endif %}

      </div>
      <div class="col-lg-6 p-3 p-lg-3">
        {% if page.picture2 %}
          <img class="img-fluid shadow-lg rounded mb-3" alt="{{page.picture2 }}" src="{{ absolute_url }}/assets/images/{{ page.picture2 }}" >
        {% endif %}
        {% if page.picture4 %}
          <img class="img-fluid shadow-lg rounded mb-3" alt="{{page.picture4 }}" src="{{ absolute_url }}/assets/images/{{ page.picture4 }}" >
        {% endif %}
      </div>

    </div>
    <div class=" col-12 text-center mt-5">
          <a href="#contact" class="btn btn-primary text-white">
            Discutons ensemble
          </a>
    </div>
  </div>
  {% include projects.html %}

  {% include footer.html %}
  {% if site.environment == "production" %}
      {% include tawk.html %}
  {% endif %}

</body>
</html>
